@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orelega+One&family=Overlock:ital@1&display=swap');
:root{
    --color: rgb(173, 64,235);

}
*{
    font-family: 'Orelega One', cursive;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex; 
    flex-flow:row wrap;
    width:100vw;
    height: 100vh;
}
.leftSide{
    background-image: url('sign-up-pic.jpeg');
    background-size: cover;
    max-width:40vw;
    display:flex;
    flex-direction: column;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    align-items: center;
}
.rightSide{
    display: flex;
    width: 60vw;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin:0px;
    padding:5px;
    background-color: rgb(249, 250, 251);
    
}
form{
    display:flex;
    flex-flow: row wrap;
    gap:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(255,255,255);
    box-shadow: 0 10px 20px -2px rgb(22, 22, 22);
    font-size: 1.2rem;
    align-items: center;
}
.input{
    display: flex;
    flex-flow: column wrap;
    width:40%;
    font-size:.7rem;
    text-transform: uppercase;
    opacity: 50%;

}

legend{
    width:100%;
    font-size:1.2rem;
    font-weight:500;

}
.quote{
    display: flex;
    flex-direction: column;
    
    width: auto;
    padding-bottom: 2em;
    font-weight: 500;
    width: 90%;
    font-size:2rem;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    width : 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
h1{
    color:white;
    font-family: 'Bebas Neue' cursive;
    font-size: 3rem;
}
button{
    font-weight: 700;
    font-size 1.2em;
    border-radius: 5px;
    margin:40px 0;
    padding 10px 40px;
    border: 2px solid var(--color);
    background-color: rgb(255,255,255);
}
button:hover{
    background-color: var(--color);
}
.logIn{
    display:flex;
    gap:5px;
}
a{
    text-decoration: none;
    font-weight: 600;
    color: var(--color);
}

@media only screen and (max-width: 600px) {
    body:flex-flow: column;
    height: auto;
    text-align: center;
}
.leftSide{
    width: 100vw;
    height: 100vh;
    display:flex;
    background-size: 100vh;

}