@import url('https://fonts.googleapis.com/css2?family=Overlock:ital@1&display=swap');

*{
    font-family: 'Monaco', sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
    
    
}
body{
    display:flex; 
}
.leftSide{
    background-image: url('sign-up-pic.jpeg');
    height: 100vh;
    max-width:50vw;
    display:flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}
.rightSide{
    display: flex;
    height: 100vh;
    width: 50vw;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin:0px;
    padding:5px;
    background-color: rgb(249, 250, 251);
}
form{
    display:flex;
    flex-flow: row wrap;
    flex-direction: column;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: rgb(255,255,255);
}
.quote{
    display: flex;
    flex-direction: column;
    height: 100px;
    width: auto;
    padding-bottom: 2em;
}
form :last-child{
    padding-top: 2em;
}